@import 'mixins';

.ad {
	border-top: 1px solid #ccc;
	padding: 30px 0;

	> div {
		@extend %container;

		img {
			width: 100%;
		}

		.placeholder {
			@extend %shadow;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 150px;
			padding: 0 15px;
			background: #fff;
			color: $primaryColor;
			font-size: 32px;
			font-weight: bold;
			text-align: center;
		}
	}
}

.footer {
	border-top: 1px solid #ccc;
	padding: 30px 0;

	> div {
		@extend %container;
		display: flex;
		justify-content: space-between;

		.report {
			margin-right: 15px;
		}
	}
}